@import '@angular/material/prebuilt-themes/indigo-pink.css';


.task-input-card {
  display: flex;
  align-items: center;
  gap: 1rem;
  padding: 1rem;
  margin-bottom: 1.5rem;
}

.task-input-field {
  flex: 1;
}
