<div class="filter-buttons">
  <button mat-raised-button color="primary" (click)="setFilter('all')">All</button>
  <button mat-raised-button color="accent" (click)="setFilter('todo')">Todo</button>
  <button mat-raised-button color="warn" (click)="setFilter('done')">Done</button>
</div>


<ul>
    @for (task of taskService.tasks(); track task.id) {
        <li>
            <input type="checkbox"
                [checked]="task.done"
                (change)="taskService.toggleTask(task.id)"
                />
            <span [class.done]="task.done">{{ task.title }}</span>
            <button (click)="taskService.deleteTask(task.id)">❌</button>
        </li>
    }

    @empty {
        <p>No tasks yet. Add one above!</p>
    }
</ul>